[submodule "astro"]
	path = astro
	url = https://github.com/fernandoEscobar2X/astro.git
[submodule "django"]
	path = django
	url = https://github.com/fernandoEscobar2X/django.git
[submodule "angular"]
	path = angular
	url = https://github.com/fernandoEscobar2X/angular.git
