[submodule "astro"]
	path = astro
	url = https://github.com/fernandoEscobar2X/astro.git
[submodule "django"]
	path = django
	url = https://github.com/fernandoEscobar2X/django.git
[submodule "angular"]
	path = angular
	url = https://github.com/fernandoEscobar2X/angular.git
[submodule "express"]
	path = express
	url = https://github.com/fernandoEscobar2X/express.git
[submodule "springboot"]
	path = springboot
	url = https://github.com/fernandoEscobar2X/springboot.git
[submodule "react"]
	path = react
	url = https://github.com/fernandoEscobar2X/react.git
